@use './reset.scss';

html {
   font-family: Inter;
   color: #000;
}

.inline-block {
   display: inline-block;
}

.flex {
   display: flex;
   align-items: center;
   justify-content: space-between;
}